/*!
 * Roots 6.5.2
 */

$bootstrap-sass-asset-helper: false;
@import "custom/custom-mixins";
@import "custom/partials/helpers";
@import "custom/custom-variables";
@import "custom/custom-bootstrap";
@import "custom/partials/navbar";
@import "custom/partials/footer";
@import "custom/partials/buttons";

// page-specific styling
@import "custom/pages/home";

/* ==========================================================================
   Base
   ========================================================================== */

body {

   // min-width: 480px;
   min-width: 320px;

}



/* ==========================================================================
   Header
   ========================================================================== */

.banner {

}



/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: $screen-sm-min) { }

@media (min-width: $screen-md-min) { }

@media (min-width: $screen-lg-min) { }
