#ajax-load-more ul {
  li {
    padding: 20px 0 0 20px;
    a {
      color: $asc-orange;
    }
    p.entry-meta {
      color: #767676;
      font-weight: lighter;
      font-style: italic;
    }
  }
}