// link styles
/* unvisited link */
.wrap a:link {
    //color: #FF0000;
  // color: inherit;
  // border-bottom: 2px solid $asc-orange;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

/* visited link */
.wrap a:visited {
    //color: #00FF00;
    // color: inherit;
    // border-bottom: 2px solid $rit-lightgray;
    font-weight: normal;
    color: darken($rit-lightgray, 20%);
}

/* mouse over link */
.wrap a:hover {
    // color: #FF00FF;
  // background-color: $asc-orange;
  // border: none;
  text-decoration: none;
  border-bottom: 2px solid $asc-orange;
}

/* selected link */
.wrap a:active {
    color: black;
}


.btn-holo {
  margin-top: 10%;
  width: 125px;
  border: 2px solid white;
  border-radius: 0;
  display:block;
  color: white;
  background: none;
  &:hover{
    background: $rit-orange;
    border: 2px solid $rit-orange;
  }
  &.bigCommBtn {
    width: 75%;
    font-size: 1.5em;
  }
}

.btn-holo-dark {
  @extend .btn-holo;
  margin-top: 0;
  border: 2px solid $rit-darkgray;
  color: black !important;
  display: inline-block;

  &.active {
    color: white !important;
    background: $rit-darkgray;
  }
}