/***************
 * LINK STYLES
 ****************/

/* unvisited link */
.wrap a:link {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

/* visited link */
.wrap a:visited {
    font-weight: normal;
    color: darken($rit-lightgray, 20%);
}

/* mouse over link */
.wrap a:hover {
  text-decoration: none;
  border-bottom: 2px solid $asc-orange;
}

/* selected link */
.wrap a:active {
    color: black;
}

/***************
 * BUTTON STYLES
 ****************/
.btn-holo {
  margin-top: 10%;
  width: 125px;
  border: 2px solid white;
  border-radius: 0;
  display:block;
  color: white;
  background: none;
  &:hover{
    background: $rit-orange;
    border: 2px solid $rit-orange;
  }
  &.bigCommBtn {
    width: 75%;
    font-size: 1.5em;
  }
}

.btn-holo-dark {
  @extend .btn-holo;
  margin-top: 0;
  border: 2px solid $rit-darkgray;
  color: black !important;
  display: inline-block;

  &.active {
    color: white !important;
    background: $rit-darkgray;
  }
}

.btn-holo-orange {
  @extend .btn-holo;
  margin-top: 0;
  border: none;
  color: white;
  display: inline-block;
  background-color: $rit-orange !important;

  &:hover {
    border: none;
  }
  &.submit-btn {
    width: 33%;
  }
}