.btn-holo {
  margin-top: 10%;
  width: 125px;
  border: 2px solid white;
  border-radius: 0;
  display:block;
  color: white;
  background: none;

  &:hover{
    background: $rit-orange;
    border: 2px solid $rit-orange;
  }
}