footer.footer{
  .learnmore-footer{
    padding: 30px;
    background-color: $rit-darkgray;
    height: auto;
    text-align: center;
    color: white;
    h2 {
      padding: 50px;
      padding-bottom: 60px;
      margin: 0;
    }
    a{
      p{
        color: white;
        padding-top: 25px;
        font-size: 18px;
      }
    }
  } // end learnmore

  .stayconnected-footer{
    background-color: #f3823d;
    height: 100px;
    color: white;
    text-align: center;
  } // end stayconnected

  .rit-footer{
    background-color: black;
    height: 100px;
  } // end rit

}