footer.footer{
  .learnmore-footer{
    background-color: $rit-darkgray;
    height: 100%;
    padding: 15px;
    text-align: center;
    color: white;
    h2{
      margin-top: 35px;
      padding-bottom: 50px;
    }

    a{
      // margin: 0 25px;
      font-weight: 300;
      display: inline-block;
      color: white;
      height: auto;
      span{
        display: block;
        padding-top:75px;
      }
    }

    a.browser  { background: url('../img/layout/footer/browser.png')  50% 0 no-repeat; }
    a.schedule { background: url('../img/layout/footer/schedule.png') 50% 0 no-repeat; }
    a.mail     { background: url('../img/layout/footer/email.png')    50% 0 no-repeat; text-align:right; }

  } // end learnmore

  .stayconnected-footer{
    background-color: #f3823d;
    height: auto;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    h2{
      margin-top: 0;
    }
  } // end stayconnected

  .rit-footer{
    background-color: black;
    height: 100px;
    margin-top: 0;
  } // end rit


  @media (max-width: $screen-sm) {
    .stayconnected-footer{
      h2{
        font-size: 20px;
      }
    }
  }

}
