footer.footer {
  z-index: 99999;
  color: white;
  background: $rit-darkgray;
  margin-top: 10em;

  .learnmore-footer {
    padding: 2em 4em 4em;
    text-align: center;
    h2 {
      margin-bottom: 4em;
      text-transform: uppercase;
    }

    div {
      a {
        font-weight: 400;
        font-size: 1.25em;
        color: #fff;
        padding: 5em 1em 1em;
        &.browser  { background: url('../img/layout/footer/browser.png')   50% 0 no-repeat; }
        &.schedule { background: url('../img/layout/footer/schedule.png')  100% 0 no-repeat; }
        &.mail     { background: url('../img/layout/footer/email2.png')    50% 0 no-repeat; }
        &:hover {
          color: $asco-orange;
        }
      }
    }
  } // end learnmore

  .stayconnected-footer{
    background-color: $rit-orange;
    height: auto;
    color: #fff;
    text-align: center;
    padding: 4em 0;

    h2 { margin-top: 0; margin-bottom: 1.5em; }
    h2 a { text-decoration: underline; }
    a { color: inherit; }

    ul.social-circle {
      margin-bottom: 2em;
      a {
        padding: 50px 50px 0 17px;
      }
      .fb { background: url('../img/content/icons/circle/facebook@2x.png') no-repeat; }
      .ig { background: url('../img/content/icons/circle/instagram@2x.png') no-repeat; }
      .tw { background: url('../img/content/icons/circle/twitter@2x.png') no-repeat; }
      .yt { background: url('../img/content/icons/circle/youtube@2x.png') no-repeat; }
      li {
        margin: 50px 15px 0 0;

        &:last-child {
          margin-right: 0;
        }
      }
    }

  } // end stayconnected

  .rit-footer {
    background-color: #000;
    // height: 100px;
    margin-top: 0;

    small {
      display: table-cell;
      vertical-align: middle;
      line-height: 55px;
    }

  } // end rit


  @media (max-width: $screen-sm) {
    .stayconnected-footer {
      h2 {
        font-size: 20px;
      }

      div {
        display: block;
      }

    } // end stayconnected

    .learnmore-footer {
      a {
        margin: -5em;
      }
    }

  } // end small styles

}
