aside.sidebar {
  .widget {
    margin-top: 2em;
  }

  a {
    &:link {
      color: $asc-orange;
    }

    img {
      // padding-right: 25%;
      padding: 0 15px 0 15px;
      @extend .img-responsive;
      &:first-child {
        padding-left:0;
      }
    }
  }

  a.a2a_button_facebook:hover,
  a.a2a_button_twitter:hover,
  a.a2a_button_google_plus:hover {
    border-bottom: none;
  }

}

aside.sidebar ul {
  list-style-type: none;
  li {
    margin: 0.5em 0 0.5em 0;
  }
}

.crp_related_widget {
  .crp_date {
    display: block;
    font-weight: light;
    font-style: italic;
    color: $rit-darkgray;
    font-size:.75em;
  }
}